{
  "johndoe": {
    "username": "johndoe",
    "allowed_scopes": ["me", "items"]
    "full_name": "John Doe",
    "email": "johndoe@example.com",
    "hashed_password": "$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW",
    "disabled": false,
  },
  "alice": {
    "username": "alice",
    "allowed_scopes": ["me"]
    "full_name": "Alice Chains",
    "email": "alicechains@example.com",
    "hashed_password": "$2b$12$gSvqqUPvlXP2tfVFaWK1Be7DlH.PKZbv5H8KnzzVgXXbVxpva.pFm",
    "disabled": true,
  }
}
